@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Caveat', "細明體";
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
  
    &::after{
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        filter: blur(3px);
        background-image:url(./WoodFine.webp);
        opacity: 0.85;
        background-size: cover;
    }
    & .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        height: 75vh;
      
        & .paper {
            background-image: url(./PaperFolded.webp);
            clip-path: polygon(15% 0%, 2% 9%, 3% 24%, 0% 39%, 4% 52%, 2% 67%, 5% 75%, 0% 90%, 8% 100%, 20% 96%, 31% 100%, 41% 96%, 45% 100%, 56% 98%, 59% 100%, 70% 96%, 83% 100%, 90% 92%, 100% 83%, 95% 71%, 100% 64%, 98% 48%, 100% 30%, 95% 21%, 99% 12%, 98% 0%, 81% 5%, 76% 0%, 67% 8%, 59% 3%, 51% 9%, 40% 2%, 32% 7%, 24% 2%);
            background-size: cover;
            width: 100%;
            height: 1%;
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
            animation: up 2s ease-in-out forwards;
            position: relative;
            & label {
                font-size: 5.5vmax;
                font-weight: 600;
                color: rgb(39, 17, 0);
                position: absolute;
                left: 10%;
                top: 5%;
              
            }

            & #content {
                font-size: 3vmax;
                font-weight: 500;
                background-color: transparent;
                border: none;
                color: rgb(39, 17, 0);
                position: absolute;
                left: 11%;
                top: 20%;
                font-family: 'Caveat', "細明體";
                pointer-events: auto;

                &:focus {
                    outline: none;
                }

                &::placeholder {
                    color: rgb(39, 17, 0);
                }
            }

            & .btn {
                position: absolute;
                top: 20%;
                right: 7%;
                width: 4.5vmax;
                height: 4.5vmax;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3vmax;
                font-weight: 600;
                color: rgb(39, 17, 0);
                font-family: 'Caveat', "細明體";
                pointer-events: auto;
                border: none;
                background-color: transparent;
            }
            
        }


        & #todo-list {
            position: absolute;
            top: 30%;
            left: 12%;
            list-style-type: upper-roman;

            & div.todo-item {
               
                
               display: flex;
               justify-content: space-evenly;
               margin-bottom: 1vh;
               & .todo-content{
                margin-right: 3vw;
               }
                & .todo-content input{
                    font-family: 'Caveat', "細明體";
                    font-size: 2.3vmax;
                    font-weight: 300;
                    font-style: italic;
                    color: rgb(39, 17, 0);
                    background-color: transparent;
                    border: none;
                    &:focus{
                        outline: none;
                    }
                }
                & .editFile{
                    font-family: 'Caveat', "細明體";
                    font-size: 2.3vmax;
                    font-weight: 300;
                    font-style: italic;
                    color: rgb(39, 17, 0);
                   background-color: transparent;
                   margin-inline: 1vw;
                   pointer-events: auto;
                   border: none;
                   text-decoration: underline;
                }
                & .deleteFile{
                    font-family: 'Caveat', "細明體";
                    font-size: 2.3vmax;
                    font-weight: 300;
                    font-style: italic;
                    color: rgb(39, 17, 0);
                   background-color: transparent;
                   margin-inline:2.5vw;
                   pointer-events: auto;
                   border: none;
                   text-decoration: underline;
                }
              }
            }
        }
    
    
    }
    @keyframes up {
        to {
          opacity: 1;
          visibility: visible;
          height: 100%;
        }
      }